black
django
djangorestframework
psycopg2
django-filter
bcrypt
drf-spectacular
python-jose[cryptography]
Celery
redis
django-oauth-toolkit
django-environ
django-extensions
djangorestframework-gis
django-map-widgets